footer {
  bottom: 0px;
  margin-top: 20px;
  font-size: 15px;
  color: darkgrey;
  background-color: #1d262f;
}

.content-wrapper {
  width: 100%;
  overflow: auto;
  padding-top: 50px;
  /* border: dashed 1px green; */
}

.left {
  width: 50%;
  float: left;
  padding-left: 25px;
  /* border: dashed 1px red; */
}

.right {
  width: 50%;
  float: right;
  padding-left: 25px;
  /* border: dashed 1px blue; */
}

.content-wrapper ul {
  list-style: none;
}

.content-wrapper ul li {
  margin: 2px;
}

.copyright {
  color: lightgrey;
  width: 100%;
  text-align: center;
  /* border: dashed 0.5px white; */
}
