footer {
  bottom: 0px;
  margin-top: 20px;
  font-size: 15px;
  color: darkgrey;
  background-color: #1d262f;
  text-align: center;
  padding-bottom: 15px;
}

.content-wrapper {
  width: 100%;
  overflow: auto;
  padding-top: 20px;
}

.left {
  width: 100%;
  padding: 10px 0px;
  margin: 0px;
}

.right {
  width: 100%;
  padding: 10px 0px;
  margin: 0px;
}

.right ul {
  margin: 0;
}

.right ul li {
  list-style-type: none;
  margin: 0px;
}

.copyright {
  color: lightgrey;
  width: 100%;   
}

@media only screen and (min-width: 768px) { 
  
  .content-wrapper {
    width: 100%;
    overflow: auto;
    padding-top: 50px;
  }

  .left {
    width: 50%;
    float: left;
    padding-left: 25px;
  }

  .right {
    width: 50%;
    float: right;
    padding-left: 25px;
  }

  .right ul li {
    list-style-type: none;
  }

  .content-wrapper ul {
    list-style: none;
  }

  .content-wrapper ul li {
    margin: 2px;
  }

  .copyright {
    color: lightgrey;
    width: 100%;
    text-align: center;
  }
}